<div id="tournament_errors_list" class="message is-danger" style="display: none;">
	<div class="message-header">Ocorreram erros ao tentar salvar o registro</div>
	<div class="message-body">
    <ul>
    <% @tournament.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
   </div>
</div>

<h1 class="title">Novo Torneio</h1>
<h2 class="subtitle">Preencha <strong>todos</strong> os campos abaixo</h2>
<hr>

<%= render :partial => 'form' %>
