.field_with_errors {
  padding: 2px;
  display: table;
}
.logo-nav {
  max-height: 2.25rem !important;
}
.table-width-50 {
	width: 50% !important;
}
.pull-center {
	text-align: center !important;
}
.pull-right {
	text-align: right !important;
}
.inputfile {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		z-index: -1;
    margin-top:10px;
}
.img-circle {
    border-radius: 50%;
}
.has-text-centered-important {
  text-align: center !important;
}
.td-has-ul {
  padding-left: 30px !important;
}
.ul-mapas-randomizer {
  margin-bottom: 20px;
  margin-left: 20px;
  list-style-type: decimal;
}
.td-has-ul ul {
  list-style-type: circle;
}
.space-20-top {
  margin-top: 20px;
}
.space-50-top {
  margin-top: 50px;
}
.space-20-bottom {
  margin-bottom: 20px;
}
.anti-image-block {
  display: inline !important;
}
.chart-content {
  display: none;
}

/* INSPINIA CONTACT BOX */
/* CONTACTS */
.contact-box {
  background-color: #ffffff;
  border: 1px solid #e7eaec;
  padding: 20px;
  margin-bottom: 20px;
}
.contact-box > a {
  color: inherit;
}
.contact-box.center-version {
  border: 1px solid #e7eaec;
  padding: 0;
}
.contact-box.center-version > a {
  display: block;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}
.contact-box.center-version > span {
  display: block;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}
.contact-box.center-version > a img {
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.contact-box.center-version address {
  margin-bottom: 0;
}
.contact-box .contact-box-footer {
  text-align: center;
  background-color: #ffffff;
  border-top: 1px solid #e7eaec;
  padding: 15px 20px;
}
