.field_with_errors {
  padding: 2px;
  display: table;
}
.logo-nav {
  max-height: 2.25rem !important;
}
.table-width-50 {
	width: 50% !important;
}
.pull-center {
	text-align: center !important;
}
.pull-right {
	text-align: right !important;
}
.inputfile {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		z-index: -1;
    margin-top:10px;
}
.img-circle {
    border-radius: 50%;
}
.has-text-centered-important {
  text-align: center !important;
}
.td-has-ul {
  padding-left: 30px !important;
}
.ul-mapas-randomizer {
  margin-bottom: 20px;
  margin-left: 20px;
  list-style-type: decimal;
}
.td-has-ul ul {
  list-style-type: circle;
}
.space-20-top {
  margin-top: 20px;
}
.space-50-top {
  margin-top: 50px;
}
.space-20-bottom {
  margin-bottom: 20px;
}
.anti-image-block {
  display: inline !important;
}
.chart-content {
  display: none;
}
