<div class="modal" id="historic">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Histórico 30 Dias</p>
    </header>
    <section class="modal-card-body">      
      <table id="historic-sale-table" class="table">
        <thead>
          <tr>
            <th colspan="5" class="pull-center">Vendas</th>
          </tr>
          <tr>
            <th>Data</th>
            <th>Vendedor</th>
            <th>Valor Total</th>
            <th>Cliente/Empresa</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <br>
      <table id="historic-receipt-table" class="table">
        <thead>
          <tr>
            <th colspan="5" class="pull-center">Recebimentos</th>
          </tr>
          <tr>
            <th>Data</th>
            <th>Vendedor</th>
            <th>Valor Total</th>
            <th>Cliente</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </section>
  </div>
</div>
