<table id="resume-info-table" class="table is-narrow table-width-50">
  <thead>
    <tr>
      <th colspan="4" class="pull-center">Semana <%= format_date last_monday %> a <%= format_date last_saturday %></th>
    </tr>
    <tr>
      <th><div class="pull-right">Total Vendas</div></th>
      <th><div class="pull-right">Total Recebimentos</div></th>
      <th><div class="pull-right">Caixa Semana</div></th>
      <th>|<div class="pull-right">Caixa Total</div></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>